@use '../../styles/_variables' as v;
@use '../../styles/_mixins' as m;


.list-dropdown-container {
  @include m.flexbox(column, wrap, center, center, center);

  .instructions {
    font-size: 1.5em;
    color: v.$dark;
    margin: 2% 5%;
    text-align: center;
  }

  .list-dropdown {
    border: none;
    border-radius: 0.2em;
    color: v.$dark;
    background-color: v.$light;
    width: 10em;
    min-height: 2em;
    font-size: 1.5em;
    font-weight: bold;
    padding: 5px;
    text-align: center;

    &:hover {
      background-color: v.$lightHover;
      cursor: pointer;
    }
  }
}

.new-list-button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  margin: 1em;
}

.new-list-button:hover {
  cursor: pointer;

  .plus {
    background-color: v.$medium;
  }

  .new-list-text {
    color: v.$medium;
  }
}

.plus {
  height: 1.7em;
  width: 1.7em;
  border-radius: 50%;
  background-color: v.$medium;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    font-weight: bold;
    color: v.$white;
    text-align: center;
  }
}

.new-list-text {
  color: v.$medium;
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 0.5em;
}

//desktop requirements
@media screen and (min-width: 40em) {
  .hidden-desktop {
    display: none;
  }
}

//mobile requirements
@media screen and (max-width: 40em) {
  .hidden-mobile {
    display: none;
  }
}