@use '../../styles/_variables' as v;
@use '../../styles/_mixins' as m;

.home-card, .list-card {
  border: 1px solid v.$medium;
  box-shadow: 1px 1px 4px 1px v.$dark;
  border-radius: 0.5em;
  margin: 5%;
  padding: 5%;
  display: grid;
  grid-template-columns: 25% 45% 30%;

  &:hover {
    background-color: v.$medium;

    h2, p, a {
      color: v.$offWhite;
    };
  }

  .thumbnail {
    width: 100%;
    border-radius: 0.5em;
  }

  
  .restaurant-info {
    margin: 1% 10%;
    text-align: left;

    h2 {
      font-size: 2.5em;
    }

    p {
      font-size: 2em;
    }

    .rating, .phone-number {
      padding: 0.5em 0 0 0;
    }

    .phone-link {
      font-family: v.$bodyFont;

      &:hover {
        text-decoration: underline;
      }
    }

    .address-container {
      padding: 0.5em 0;
    }

    .address {
      padding: 0.2em 0;
    }

    .yelp-logo {
      width: 20%;
    }
  }

  .card-buttons {
    @include m.flexbox(column, nowrap, normal, flex-start, normal);

    .dropdown-content {
      @include m.flexbox(column, nowrap, center, center, center);
    }

    .dropdown-item {
      padding: 2%;
      background-color: v.$light;
      color: v.$dark;
      width: 90%;
      border: 1px solid v.$medium;

      &:hover {
        cursor: pointer;
        background-color: v.$lightHover;
      }
    }

    .dropdown-btn,
    .more-info,
    .delete-button {
      border: none;
      padding: 5%;
      // margin: 0 0 10% 0;
      margin: 0 0 10% 0;
      font-weight: 600;
      font-size: 1.5em;
      color: v.$offWhite;
      cursor: pointer;
      background-color: v.$dark;
      border-radius: 0.2em;
      min-width: 100%;

      .yelp-logo-white {
        display: inline;
      }

      .yelp-logo-black {
        display: none;
      }
      
      &:hover {
        letter-spacing: 1px;
        background-color: v.$lightHover;
        color: v.$offBlack;
        transform: scale(1.08);

        .yelp-logo-white {
          display: none;
        }

        .yelp-logo-black {
          display: inline;
        }
      }
    }
  }
}

//desktop requirements
@media screen and (min-width: 40em) {

}

//mobile requirements
@media screen and (max-width: 40em) {
  .home-card, .list-card {
    @include m.flexbox(column, nowrap, normal, normal, normal);
    
    .thumbnail {
      width: 60%;
      align-self: center;
    }
    
    .restaurant-info {
      margin: 10%;
      text-align: center;

      h2 {
        font-size: 1.5em;
      }

      p {
        font-size: 1.5em;
      }
    
      .yelp-logo {
        width: 30%;
      }
    }

    .card-buttons {
      margin: 0 10%;
    }
  }
}

