@use '../../styles/_variables' as v;
@use '../../styles/_mixins' as m;

.home-card {
  border: 1px solid v.$palePeach;
  border-radius: 0.5em;
  margin: 5%;
  padding: 5%;
  display: grid;
  grid-template-columns: 20% 50% 30%;
  
  &:hover {
    cursor: pointer;
    background-color: v.$transparentPeach;
  }

  .thumbnail {
    width: 100%;
    border-radius: 0.5em;
  }

  
  .restaurant-info {
    margin: 1% 10%;

    h2 {
      font-size: 1.5em;
    }

    .address {
      padding: 0.2em 0;
    }

    .yelp-link {
      font-size: 1.2em;
    }
  }

  .card-buttons {
    @include m.flexbox(column, nowrap, normal, space-between, normal);
    margin: 0 10%;

    .gotta-go, 
    .been-there, 
    .more-info {
      border: none;
      padding: 5%;
      font-weight: 600;
      color: v.$offWhite;
      
      &:hover {
        color: v.$offBlack;
        letter-spacing: 1px;
        background-color: v.$brightTeal;
      }
    }
    
    .gotta-go {
      background-color: v.$nude;
      color: v.$offBlack;
    }

    .been-there {
      background-color: v.$orange;
    }

    .more-info {
      background-color: v.$teal;
    }
  }
}

//desktop requirements
@media screen and (min-width: 40em) {
  .hidden-desktop {
    display: none;
  }
}

//mobile requirements
@media screen and (max-width: 40em) {
  .hidden-mobile {
    display: none;
  }
}