// original colors:
// $palePeach: #EDD8CA;
// $transparentPeach: rgba(237, 216, 202, .60);
// $orange: #FF7A1F;
// $nude: #F0CFB9;
// $teal: #029EA9;
// $darkTeal: #037982;
// $brightTeal:#B9ECF0;
// $offBlack: #020202;
// $offWhite: #F2F2F2;

$palePeach: #EDD8CA;
$transparentPeach: rgba(237, 216, 202, .60);
$orange: #FF5E00;
$nude: #F0CFB9;
$teal: #037982;
$darkTeal: #037982;
$brightTeal:#B9ECF0;
$offBlack: #020202;
$offWhite: #F2F2F2;
