
$palePeach: #c6eff2;
$transparentPeach: #c6eff2;
$orange: #093b48;
$nude: #c6eff2;
$teal: #029EA9;
$darkTeal: #037982;
$brightTeal:#c6eff2;
$offBlack: #020202;
$offWhite: #F2F2F2;

$darkHover:#062932;
$dark: #093b48;
$medium: #036e76;
$mediumHover: #015d63;
$light:#c4e9eb;
$lightHover: #abdcdf;
$cardHover:#e4f6f7;
$white: #FFF;
$gray: #d3d3d3;
$grayHover: #c8c8c8;