
// $palePeach: #EDD8CA;
// $transparentPeach: rgba(237, 216, 202, .60);
// $orange: #FF7A1F;
// $nude: #F0CFB9;
// $teal: #029EA9;
// $darkTeal: #037982;
// $brightTeal:#B9ECF0;
// $offBlack: #020202;
// $offWhite: #F2F2F2;

$palePeach: #EDD8CA;
$transparentPeach: rgba(237, 216, 202, .60);
$orange: #5CDB95;
$nude: #F0CFB9;
$teal: #4056A1;
$darkTeal: #037982;
$brightTeal:#B9ECF0;
$offBlack: #020202;
$offWhite: #FFF;

// these color combos pass lighthouse audit
$navy: #05386B;
$blue:#4056A1;
$lightBlue: #C5CBE3;
$green: #5CDB95;
$lightGreen: #8EE4AF;
$offWhite: #FFF;
