@use './reset.scss';
@use './variables' as v;
@use './_mixins' as m;

* {
  color: v.$offBlack;
}

html {
  background-color: v.$white;
}

p {
  font-size: 1.2em;
  padding: 0.5em 0;
}

.white-text { 
  color: v.$white;
}

.black-text { 
  color: v.$offBlack;
}

.hidden {
  display: none;
}

// .app {
//   display: flex;
//   flex-direction: column;
//   max-height: 100%;
// }

// these are here for router styling
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
a:focus {text-decoration: none; }