@use './reset.scss';
@use './variables' as v;
@use './_mixins' as m;

* {
  color: v.$offBlack;
}

html {
  background-color: v.$offWhite;
}

p {
  font-size: 1.2em;
  padding: 0.5em 0;
}

.white-text { 
  color: v.$offWhite;
}

.black-text { 
  color: v.$offBlack;
}

.hidden {
  display: none;
}

// these are here for router styling
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
a:focus {text-decoration: none; }