@use './reset.scss';
@use './variables' as v;
@use './mixins' as m;

body {
  margin: 0;
  font-family: v.$bodyFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}