@use '../../styles/_variables' as v;
@use '../../styles/_mixins' as m;

.home-page {
  text-align: center;
  margin: 5% 0 10% 0;
  height: 100vh;
    
  .load-more {
    border: none;
    margin: 10%;
    width: 6em;
    font-weight: 600;
    font-size: 1.5em;
    font-family: v.$headerFont;
    color: v.$offBlack;
    cursor: pointer;
    transition: all .2s ease-in-out;
    background-color: v.$grayHover;
    border-radius: 0.2em;
    
    &:hover {
      letter-spacing: 1px;
      text-transform: underline;
      background-color: v.$gray;
    }
  }
}


//mobile requirements
@media screen and (max-width: 40em) {
  .home-page {
    margin: 10% 0;
  }
}