@use '../../styles/_variables' as v;
@use '../../styles/_mixins' as m;

header {
  height: 10%;
  background-color: v.$medium;
  padding: 1%;
  @include m.flexbox(row, nowrap, normal, space-between, center);
  
  h1 {
    font-size: 3em;
    padding: 2%;
    color: v.$white;
    
    &:hover {
      cursor: pointer;
    }
  }
  
  .logo {
    flex: 3
  }
  
  nav {
    flex: 1;
    @include m.flexbox(row, nowrap, normal, flex-end, normal);
    white-space: nowrap;
  }
  
  a {
    color: v.$white;
    letter-spacing: 1px;
    font-size: 1.2em;
    padding: 0 5%;
  }

  a.home {
    border-right: 1px solid v.$white;
  }
  
  // below is for NavLink hover
  .active {
    border-bottom: 4px solid v.$dark;
  }
}

//desktop requirements
@media screen and (min-width: 40em) {
  .hidden-desktop {
    display: none;
  }
}

//mobile requirements
@media screen and (max-width: 40em) {
  .hidden-mobile {
    display: none;
  }
}