@use '../../styles/_variables' as v;
@use '../../styles/_mixins' as m;

header {
  @include m.flexbox(row, nowrap, normal, space-between, center);
  background-color: v.$medium;
  padding: 2%;
  // position: fixed;
  // top: 0;
  // width: calc(100% - 60px);
  // width: 100%;
  
  h1 {
    font-size: 4em;
    padding: 2%;
    color: v.$offWhite;
    
    &:hover {
      cursor: pointer;
    }
  }
  
  .logo {
    flex: 3
  }
  
  nav {
    flex: 1;
    @include m.flexbox(row, nowrap, normal, flex-end, normal);
    white-space: nowrap;
    
    .menu {
      margin: 0;
      padding: 0;
      list-style: none;
      @include m.flexbox(row, nowrap, normal, flex-end, flex-start);

      li {
        position: relative;
        padding: 0 10%;
        border-right: 2px solid v.$offWhite;
      }

      li:last-child {
        border-right: none;
      }
    }
  }
  
  a {
    color: v.$offWhite;
    letter-spacing: 1px;
    font-size: 1.5em;
  }
  
  // below is for NavLink hover
  .selected {
    border-bottom: 4px solid v.$dark;
    padding-bottom: 20%;
  }
}

//desktop requirements
@media screen and (min-width: 40em) {
  .hidden-desktop {
    display: none;
  }
}

//mobile requirements
@media screen and (max-width: 40em) {
  .hidden-mobile {
    display: none;
  }

  h1 {
    font-size: 3em;
  }
}