@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;

footer {
  background-color: v.$dark;
  border-top: 1px solid v.$darkHover;
  bottom: 0;
}

.footer-content {
  display: flex;
  line-height: 1.5em;
  font-size: 0.9em;
  
  .project-description {
    flex: 2;
    margin: 2%;
  }
  
  .logos {
    @include m.flexbox(row, nowrap, normal, space-evenly, normal);
  }
  
  h3 {
    font-family: v.$headerFont;
    font-size: 2em;
    font-weight: 600;
    color: v.$offWhite;
  }
  
  h4 {
    font-size: 1.5em;
    font-family: v.$headerFont;
    color: v.$offWhite;
  }

  p {
    color: v.$offWhite;
  }
  
  .social-links {
    flex: 2;
    margin: 2%;
  }
  
  .repo, .github, .linkedin {
    margin: 4% 1%;
    color: v.$offWhite;
  }
  
  a {
    text-decoration: none;
    padding: 0 1%;
    color: v.$offWhite;
  
    &:hover {
      text-decoration: underline;
    }
  }
}

.copyright {
  background-color: #031a1f;
  margin: 0;
  text-align: center;
  font-size: .8em;
  padding: .25em;

  p {
    color: v.$offWhite;
  }
}

//desktop requirements
@media screen and (min-width: 40em) {
  .hidden-desktop {
    display: none;
  }
}

//mobile requirements
@media screen and (max-width: 40em) {
  .hidden-mobile {
    display: none;
  }

  .footer-content {
    flex-direction: column;
  }
}